@import "bootstrap/css/bootstrap.min";
@import "icofont/icofont.min";
@import "aos/aos";
@import "line-awesome/css/line-awesome.min";
@import "owl.carousel/assets/owl.carousel.min";
@import "style";
@import "paginate";
@import "font-awesome";
@import "custom";
