.search_form {
  margin-top: 20px;
}

.disabled {
	pointer-events: none;
	opacity: 0.3;
}

.container.py-2.py-md-5 .col-md-6 {
  display: flex;
  align-items: center;
}

.container.py-2.py-md-5 .col-md-6 h4 {
  color: white;
}

.container.py-2.py-md-5 .col-md-6 img {
  border-radius: 50%;
  /* margin-left: 25%; */
}

.genre_tag {
  color: white;
  font-size: 10px;
  font-weight: bold;
  background-color: #17a2b8;
  padding: 5px;
  border-radius: 8%;
}
