#main-navbar.collapse.navbar-collapse.custom-navmenu
  .container.py-2.py-md-5
    .row.align-items-start
      .col-md-2
        %ul.custom-menu
          %li.active
            =link_to "Movies", works_path
          %li
            =link_to "Directors", directors_path
          -if user_signed_in?
            %li
              =link_to "Sign Out", destroy_user_session_path
          -else
            %li
              =link_to "Sign In", new_user_session_path
            %li
              =link_to "Sign Up", new_user_registration_path
              
%nav.navbar.navbar-light.custom-navbar
  .container
    -# %a.navbar-brand{:href => "/works"} Movie Log
    =link_to "Movie Log", works_path, class: 'navbar-brand'
    %a.burger{"data-target" => "#main-navbar", "data-toggle" => "collapse", :href => "#"}
      %span
