#main-navbar.collapse.navbar-collapse.custom-navmenu
  .container.py-2.py-md-5
    .row.align-items-start
      .col-md-6
        %ul.custom-menu
          %li.active
            =link_to "Movies", works_path
          %li
            =link_to "Directors", directors_path
          -if user_signed_in?
            %li
              = link_to 'Edit Profile', edit_login_profile_path
            %li
              =link_to "Sign Out", destroy_user_session_path

          -else
            %li
              =link_to "Sign In", new_user_session_path
            %li
              =link_to "Sign Up", new_user_registration_path

      -if user_signed_in? && current_user.profile.present?
        .col-md-6.d-flex.flex-column
          =image_tag current_user.profile.image_url(:thumb) if current_user.profile.image.present?
          %h4.mt-2="#{current_user.profile.first_name} #{current_user.profile.last_name}"
          %p=current_user.profile.description

%nav.navbar.navbar-light.custom-navbar
  .container
    -# %a.navbar-brand{:href => "/works"} Movie Log
    =link_to "Movie Log", works_path, class: 'navbar-brand'
    %a.burger{"data-target" => "#main-navbar", "data-toggle" => "collapse", :href => "#"}
      %span
